h1 {
    color: red;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* Este é um comentário */

/*
    Este
    é
    um
    comentário
*/

/* Classes e Ids */

.p-texto {
    color: lightgreen;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}

/* Cores */

.nome {
    color: orange;
}

.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 214, 0.2);
    font-size: 40px;
}

/* Backgrounds */
.div-background {
    background-image: url('por-do-sol.jpg');
    height: 300px;
}

.h1-background {
    text-align: center;
    background-color: #000;
    color: #FFF;
}

/* Fontes */
.family {
    color: #000;
    font-size: 40px;
}

.family.serif {
    color: green;
}

.serif {
    font-family: "times new roman";    
}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "Courier New";
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-style: bold;
}

/* Box Model */
body {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 20px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding: 30px 20px 5px 10px;    
    border: 3px solid blue;
    border-width: 5px 10px 2px 10px;
    border-left: 5px dotted black;
    border-right-style: double;
    border-radius: 15px;
    margin: 50px;
    margin: 5px 10px 10px 7px;
    margin: 20px 10px;
    display: none;
    display: inline;
    display: inline-block;
    display: block;
}

.paragrafo-box {
    color: #000;
    margin: 0;
}

/* Positions */
.div-position {
    width: 500px;
    height: 500px;
    background-color: green;
    border-bottom: 2px solid;
}

.mini-div {
    width: 50px;
    height: 50px;
    top: 50px;
    left: 100px;
}

.static {
    position: static;
    top: 100px;
}

.relative {
    position: relative;
    background-color: blue;
    top: 100px;
    left: 50px;
}

.absolute {
    position: absolute;
    background-color: purple;
    right: 0;
    top: 0;
}