h1 {
    color: red;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* Este é um comentário */

/*
    Este
    é
    um
    comentário
*/

/* Classes e Ids */

.p-texto {
    color: lightgreen;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}

/* Cores */

.nome {
    color: orange;
}

.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 214, 0.2);
    font-size: 40px;
}

/* Backgrounds */
.div-background {
    background-image: url('por-do-sol.jpg');
    height: 300px;
}

.h1-background {
    text-align: center;
    background-color: #000;
    color: #FFF;
}