<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Adicionar Tarefa</h1>    
    <form action="/tasks/save" method="POST">
        <div>
            <input type="text" name="task" placeholder="Digite a Tarefa">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>        
    </form>
</body>
</html>