<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/thought/add" class="btn">Criar Pensamento</a>
    </div>
    <h3>Seus Pensamentos</h3>    
</div>