<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/thought/add" class="btn">Criar Pensamento</a>
    </div>
    <h3>Seus Pensamentos</h3>
    <ul>
        {{#each thoughts}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/" class="btn">Editar</a>
                    <form action="/thought/remove" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir" class="btn">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
</div>