<div class="thought-form-container">
    <a href="/thought/dashboard">Voltar</a>
    <h1>Criando um Pensamento</h1>
    <form action="/thought/edit" method="POST">
        <input type="hidden" name="id" value="{{thought.id}}">
        <div class="form-control">
            <label for="title">Pensamento:</label>
            <input type="text" name="title" placeholder="Digite o seu pensamento..." value="{{thought.title}}">
        </div>
        <input type="submit" value="Editar Pensamento">
    </form>
</div>